@{
    ViewData["Title"] = "MvcCorePager demos";
}

    <ul>
        <li><a asp-action="Index" asp-controller="Orders">Default setting</a></li>
        <li><a asp-action="Ajax" asp-controller="Orders">Ajax pagination</a></li>
        <li><a asp-action="Bootstrap" asp-controller="Orders">Bootstrap style</a></li>
        <li><a asp-action="PageIndexBox" asp-controller="Orders">Input page index</a></li>
        <li><a asp-action="Search" asp-controller="Orders">Search result</a></li>
        <li><a asp-action="AjaxSearch" asp-controller="Orders">Ajax Search</a></li>
    </ul>