@{
    ViewData["Title"] = "MvcCorePager demos";
}

    <ul>
        <li><a asp-action="Index" asp-controller="Orders">Default setting</a></li>
        <li><a asp-action="Ajax" asp-controller="Orders">Ajax paging</a></li>
        <li><a asp-action="Bootstrap" asp-controller="Orders">Bootstrap style</a></li>
        <li><a asp-action="PageIndexBox" asp-controller="Orders">Input page index</a></li>
    </ul>