@{
    ViewData["Title"] = "MvcCorePager demos";
}

<ul>
    <li><a asp-action="Default" asp-controller="Orders">Default setting</a></li>
    <li><a asp-action="Ajax" asp-controller="Orders">Ajax paging</a></li>
    <li><a asp-action="Bootstrap" asp-controller="Orders">Bootstrap style</a></li>
</ul>