@model PagedList<Order>
    @{
    ViewData["Title"] = "Ajax pagination";
    }

                    <div id="orders">
                        <partial name="_OrderList" model="@Model" />
                    </div>
    @section Scripts{
                    <script src="~/js/MvcCorePager/MvcCorePager.js" asp-append-version="true"></script>
        }