@model PagedList<Order>
@{
    ViewBag.Title = "Ajax Search result pagination";
}

<h1 class="pb-2 mt-4 mb-2 border-bottom">MvcCorePager demo: Ajax Search result pagination</h1>
<form id="searchForm">
    <input type="text" name="companyName" id="companyName" />
    <input type="submit" value="Search" />
</form>
<div id="table-container">
    <partial name="_PagedData" model="@Model" />
</div>

@section Scripts{
    <script src="~/js/MvcCorePager/MvcCorePager.js" asp-append-version="true"></script>
}